<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm OTP</title>
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/todo/list">Todo</a>
                                </li>
                            </ul>
                            <a href="/user/login" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Verify OTP</h1>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="row">
                    <form action="/user/confirm-otp-submit" method="post">
                        <input class="form-control" type="hidden" name="email" value="<%=email%>" />
                        <input class="form-control" type="hidden" name="otp" value="<%=otp%>" />
                        <input class="form-control" type="hidden" name="nameOTP" value="<%=nameOTP%>" />

                        <div class="col-12">
                            <label for="inputOTP">OTP</label>
                            <input class="form-control" id="inputOTP" name="inputOTP" />
                        </div>
                        <div class="col mt-3">
                            <button type="submit" class="btn btn-primary form-control">Verify</button>
                        </div>
                    </form>
                    <div class="col">
                        <form action="/user/resend-otp" method="post">
                            <input class="form-control" type="hidden" id="email" name="email" value="<%=email%>" />
                            <input class="form-control" type="hidden" name="nameOTP" value="<%=nameOTP%>" />
                            <button type="submit" class="btn btn-secondary form-control">Resend OTP</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

</body>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

</html>