<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/todo/list">Todo</a>
                                </li>
                            </ul>
                            <form class="d-flex" action="/user/logout" method="post">
                                <button class="btn btn-danger" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Edit Todo</h1>
            </div>
            <div class="col">
                <form class="row g-3" action="/todo/update-submit" method="post">
                    <input type="hidden" name="id" value="<%=todo.id%>" />
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%=todo.title%>">
                    </div>
                    <div class="col-6">
                        <label for="dueDate" class="form-label">Due date</label>
                        <input type="datetime-local" class="form-control" id="dueDate" name="dueDate"
                            value="<%=dueDate%>">
                    </div>
                    <div class="col-6">
                        <label for="priorityId" class="form-label">Priority</label>
                        <select id="priorityId" class="form-select" name="priorityId">
                            <option disabled value="" selected>Choose...</option>
                            <% listPriorities.forEach(function(priority) { %>
                                <% if(priority.id===todo.priorityId) { %>
                                    <option selected value="<%=priority.id%>">
                                        <%=priority.namePriority%>
                                    </option>
                                    <% } else { %>
                                        <option value="<%=priority.id%>">
                                            <%=priority.namePriority%>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description"
                            name="description"><%=todo.description%></textarea>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

</html>